.carrousel-wrapper {
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

    .nav-carrousel {
        position: relative;
        top: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
    }

    .nav-arrow {
        height: 90px;
        width: auto;
        cursor: pointer;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 412px;
    }

    p {
        position: absolute;
        color: white;
        font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
    .carrousel-wrapper {
        height: 225px;

        .nav-carrousel {
            top: 85px;
        }
    
        .nav-arrow {
            height: 24px;
        }
    
        img {
        }
    
        p {
            display: none;
        }
    }
}