.collapse-wrapper {
    overflow: hidden;
    min-height: 50px;
}

.collapse {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    position: relative;
    z-index: 1;
}

.collapse-title {
    font-weight: 700;
    margin: 0;
}

.content {
    margin: 0;
    padding: 0;
}

.collapse-content {
    padding: calc(20px + 50px) 20px 20px 20px;
    background-color: #f6f6f6;
    line-height: 25.67px;
    border-radius: 10px;
    transition: 300ms;
    margin-top: -50px;
    margin-bottom: 0;
}

.collapse-list {
    list-style: none;
}

.collapse-arrow {
    transform: rotate(270deg);
    width: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transition: ease-out 300ms;
}

.arrow-down {
    transform: rotate(90deg);
    transition: ease-in 300ms;
}

@media screen and (max-width: 480px) {

    .collapse-wrapper {
        min-height: 30px;
    }

    .collapse {
        height: 30px;
    }

    .collapse-title {
        font-size: 13px;
    }

    .collapse-arrow {
        width: 10px;
        padding: 5px 10px;
    }

    .collapse-content {
        margin-top: -30px;
        padding: calc(10px + 50px) 20px 15px 20px;
    }

    .content {
        font-size: 12px;
        line-height: 17px;

        li {
            font-size: 12px;
            line-height: 17px;
        }
    }

    .content-down {
        margin-bottom: 0px;
    }
    
}

.slide-in {
    opacity: 0;
    animation: slideIn 300ms forwards;
}

.slide-out {
    opacity: 1;
    animation: slideOut 300ms forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
    }
}