.header {
    width: 95%;
    max-width: 1240px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 68px;
    }

    .nav-link {
        font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
    .header {
        width: calc(100% - 40px);

        img {
            max-height: 45px;
        }
    }
}