* {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 95%;
    max-width: 1240px;
}

@media screen and (max-width: 480px) {
    .main-container {
        gap: 30px;
    }

    .content-wrapper {
        width: calc(100% - 40px);
        gap: 20px;
    }
}